@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Round&family=Poly:ital@0;1&display=swap');
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #F1EEED;
    --bg-color-dark: #EAE7E6;
    --bg-color-light: #f1eeed;
    --text-primary: #001C23;
    --text-secondary: #004b58;
    --text-main: #547F8A;
    --text-subtle: #9DB2B8;
    --serif-font: "Poly", Georgia, 'Times New Roman', Times, serif;
    --alternate-font: 'Nova Round', system-ui;
  }
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-dark);
  color: var(--text-primary);

  --fs-h1: 3rem;
  --fs-h2: 1.5rem;  
  --fs-h3: 1.295rem;  
  --fs-h4: 1.10rem;  
  --fs-body: 1.19rem;
}
/*  */
:root {
  font-size: 14px; /* mobile default */
}
@media (min-width: 640px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: 20px;
  }
}
input {
  all: unset;
}
h1,h2,h3,h4,h5 {
 margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.container {
  margin:  3rem auto 0 auto;
  width: 80%;
  max-width: 800px;
}

@media (min-width: 640px) {
  .container {
    margin:  10rem auto 0 auto;
  }
}

/* Font size variables for headings and body */
h1 {
  color: var(--text-main);
  font-size: var(--fs-h1);
  font-weight: 800;
  line-height: 1.1;
}
/* very small screens */
.page-title svg {
  vertical-align: middle;
}
@media (max-width: 400px) {
  .page-title {
    font-size: 2.1rem;
  }
  .page-subtitle {
    font-size: 1.1rem;
  }
}

h2 {
  color: var(--text-subtle);
  font-family: var(--serif-font);
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}



.code-rule .divider {
  height: 2px;
  margin: 1rem 0 1.5rem 0;
}
.code-rule-section {
  color: var(--text-main);
  font-family: var(--serif-font);
  font-size: var(--fs-h2);
  margin-bottom: 0.8rem;
}
.code-rule-subsection {
  font-family: var(--serif-font);
  color: var(--text-main);
}
.code-rule-title {
  color: var(--text-main);
  margin-bottom: 0.6rem;
}
.code-rule-subrule {
  color: var(--text-main);
  font-size: 0.8rem;
}
.code-rule .card {
  background-color: var(--bg-color-light);
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 23px;
  padding: 1.2rem;
  margin-bottom: 1.8rem;
}


.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-light);
  border-radius: 42px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  height: 3rem;
  padding: 0 1rem;
  margin: 2rem 0 2rem 0;
}
@media (min-width: 640px) {
  .search-bar-container {
    height: 60px;
    padding: 0 1.1rem;
    
  }
}

.search-bar {
  width: 100%;
  font-size: 1.1rem;
}
.search-bar ~ svg {
  margin-right: 1rem;
  font-size: 1.7rem;
  color: var(--text-main)
}


.loader-container {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-main);
  font-family: var(--serif-font);
  font-size: var(--fs-h2);
}

.conclusion {
  /* font-size: var(--fs-h4, 1.2rem); */
  line-height: 1.5;
  margin-bottom: 3rem;
}

@media (min-width: 640px) {
  .conclusion {
    font-size: var(--fs-h4, 1.2rem);
  }

}



/* Utility classes for CSS variables */
.text-primary { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }
.text-main { color: var(--text-main); }
.text-subtle { color: var(--text-subtle); }

.bg-color { background-color: var(--bg-color); }
.bg-color-dark { background-color: var(--bg-color-dark); }

.font-serif { font-family: var(--serif-font); }

.divider {
  width: 100%;
  height: 2px;
  background: #D9D9D9;
  margin: 0 0 1rem 0;
}